@page "/ProductsByCategory/{CategoryId:int}"
@inherits ProdByCatBase

@if (Products==null && ErrorMessage==null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else if (ErrorMessage !=null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}

else
{
    <h3>Products (@CategoryName)</h3>

    @if (Products.Count() > 0)
    {
        
            <DisplayProducts Products="@Products"></DisplayProducts>
        
    }
}
